.app_about {
    display: flex;
    justify-content: center;
        align-items: center;
    width: 100%;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
    .app_profiles {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        cursor: pointer;
        width: 100%;
        max-width: 1200px;
        .app_profile-item {
            flex: 1;
            min-width: 150px;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            margin: 2rem;
            img {
                max-width: 200px;
                object-fit: cover;
                border-radius: 15px;
            }
            @media screen and (min-width: 2000px) {
                max-width: 370px;
                margin: 2rem 4rem;        
            }
            @media screen and (max-width: 600px) {
                max-width: 100%;  
                justify-content: center;
                align-items: center;
            }
        }
    }
    @media screen and (max-width: 600px) {
        padding: 1rem;     
    }
}